body {
    background-color: #071155;
}

.banner {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #071155;
}

.centered {
    text-align: center;
    color: white;
    text-shadow: 7px 7px black;
}

#movieCollection {
    background-color: white;
}

#movieCollection > .noMovieMsg {
    text-align: center;
}

.movieDiv {
    text-align: center;
    margin: 15px 0;
    font-size: 15px;
}

hr {
    border: 1px solid;
}

.sectionHeader {
    background-color: white;
    padding: 15px;
}

.contentSection {
    margin-top: 25px;
} 

.movieImg {
    max-width: 300px;
}

form {
    margin-bottom: 100px;
}

.addLib {
    margin-top: 15px;
}

.searchRow {
    margin: 30px 0;
}

.plot {
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 110px;
    padding: 0 5px;
}

footer {
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px 0;
}